<div class="row" style="margin-top: 20px">
 <div class="c8">
  <h1>Deploying Flask Web Applications</h1>
  <p>
   <a href="https://gumroad.com/l/python-deployments-solo">Deploying Flask Web Applications</a>
   is an updated book by 
   <a href="https://github.com/mattmakai">Matthew Makai</a> 
   that was first released in July 2015 as "The Full Stack Python Guide to 
   Deployments". The book subsequently receieved several smaller revisions and 
   then in Spring 2019 was completely rewritten due to all of the code dependencies 
   for the project as well as reader feedback that helped to clarify confusing parts.

   There is also a book bundle with a
   <a href="https://gumroad.com/l/python-deployments">nicely formatted copy</a> 
   of the 
   <a href="https://www.fullstackpython.com/">Full Stack Python website</a>.
  </p>
  <p>
   <a class="btn btn-success" href="https://gumroad.com/l/python-deployments">Purchase now on Gumroad!</a>
  </p>
  <p>
   The content in Deploying Flask Web Applications is 
   newly written just for this book. It works well either by itself
   or in combination with the material available on 
   <a href="https://www.fullstackpython.com/">Full Stack Python</a>. 
  </p>
  {% include "email-for-book.html" %}
  <h3>What's in the book?</h3>
  <p>
   Throughout the book you'll take an example open source Python 
   web application through a complete deployment on a virtual 
   private server. 
   In each chapter, we will first learn how to deploy the application 
   manually, to fully understand each step, then automate the steps
   with <a href="https://docs.ansible.com/">Ansible</a>. We also set up
   a continuous integration server to automate the deployment
   process once we have our Ansible playbooks in place.
  </p>

  <h3>Chapters</h3>
  <p>
   <ul>
    <li>Chapter 1: Introduction</li>
    <li>Chapter 2: Servers (DigitalOcean)</li>
    <li>Chapter 3: Operating Systems (Ubuntu)</li>
    <li>Chapter 4: Web Servers (Nginx)</li>
    <li>Chapter 5: Source control (Git)</li>
    <li>Chapter 6: Databases (PostgreSQL and Redis)</li>
    <li>Chapter 7: Application Dependencies</li>
    <li>Chapter 8: WSGI Servers (Gunicorn)</li>
    <li>Chapter 9: Task Queues (Celery)</li>
    <li>Chapter 10: Continuous Integration (Jenkins)</li>
    <li>Chapter 11: Deployment Automation (Ansible)</li>
    <li>Chapter 12: Server Automation</li>
    <li>Chapter 13: Operating System Automation</li>
    <li>Chapter 14: Web Server Automation</li>
    <li>Chapter 15: Source Control Automation</li>
    <li>Chapter 16: Database Automation</li>
    <li>Chapter 17: App Dependencies Automation</li>
    <li>Chapter 18: WSGI Server Automation</li>
    <li>Chapter 19: Task Queue Automation</li>
    <li>Chapter 20: Continuous Integration Automation</li>
    <li>Chapter 21: What's Next?</li>
    <li>Appendix A: Glossary</li>
   </ul>
  </p>
  <!--
  <p>
   Here's a copy of the current 
   <a href="/pdf/deploying-flask-table-of-contents.pdf">table of contents</a>
   so you can see each chapter and section contained in the book.
  </p>
  -->
 </div>
 <div class="c4">
  <img src="/img/flask-deploy-cover.png" alt="Picture of the Deploying Flask Web Applications book cover." width="100%" style="border-radius: 5px; box-shadow: 4px 4px 3px #222; border: 1px solid #999; margin-top:20px">

  <img src="/img/full-stack-python-cover.jpg" alt="Picture of the Full Stack Python book cover." width="100%" style="border-radius: 5px; box-shadow: 4px 4px 3px #222; border: 1px solid #999; margin-top: 20px;">
  <p style="margin-top: 5px; font-size: 14px;">
   In the <a href="https://gumroad.com/l/WOvyt">bundled version</a> 
   you'll also receive a PDF and EPUB copies of the Full Stack 
   <a href="https://www.fullstackpython.com/">Python website</a> 
   content, which clocks in at about 400 pages, shown above.
  </p>
 </div>
</div>
<div class="row">
 <div class="c12">
 <!--
  <p style="margin-bottom: 20px;">
   Still have questions? Check out the 
   <a href="/flask-deploy-faq.html">frequently asked questions (FAQ)</a>
   page for more information.
  </p>
  -->
  <p>
   Here is a visual preview of how we perform a full application 
   deployment together throughout the book:
  </p>
  <img src="/img/deployment-concepts.png" width="100%">
  <br>
  <p>
    {{ page.content }}
  </p>
  <p>
   That's all for now. Have you read the Full Stack Python
   <a href="https://www.fullstackpython.com/deployment.html">deployment page</a>? :)
  </p>
 </div>
</div>
