{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="The Full Stack Python Supporter's Edition ebook contains nicely-formatted PDF, EPUB and MOBI versions of the fullstackpython.com website.">
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px">
 <div class="c8">
  <p>
   <a href="https://gumroad.com/l/full-stack-python">Full Stack Python Supporter's Edition</a>
   is an <a href="https://www.github.com/mattmakai/fullstackpython.com">open source</a>
   book by 
   <a href="https://github.com/mattmakai">Matthew Makai</a> 
   that is available in nicely-formatted PDF, EPUB, MOBI versions for 
   readers who want to support the project's continued writing and development. All 
   of the material will always remain free on the 
   <a href="https://www.fullstackpython.com/">fullstackpython.com website</a>
   but if you want to easily read it in one of these other formats you can 
   <a href="https://gumroad.com/l/full-stack-python">purchase a copy on Gumroad</a>.
  </p>
  <p>
   There is also a <a href="https://gumroad.com/l/python-deployments">book bundle available</a> 
   that combines the
   <a href="/deploying-flask-web-apps.html">Deploying Flask Web Applications</a>
   book with this Full Stack Python Supporter's Edition ebook.
  </p>
  <p style="margin-top:20px">
   <a class="btn btn-success" href="https://gumroad.com/l/full-stack-python">Purchase ebook on Gumroad!</a>
  </p>
  <h3>What's in the book?</h3>
  <p>
   Full Stack Python explains important Python concepts in plain language
   terms without assuming that you already know much about web development,
   deployments or running an application. Each chapter focuses on a large
   subject area, such as data or development environments, then digs into
   concepts and implementations that you should know to make the right choices
   for what to use when building your projects.
  </p>
  <p>
   Think of Full Stack Python as your high-level guide to Python development
   so that you can understand what you do not know and gain a map for what
   to research next.
  </p>

  <h3>Chapters</h3>
  <p>
   <ul>
    <li>Chapter 1: Introduction</li>
    <li>Chapter 2: Development Environments</li>
    <li>Chapter 3: Data</li>
    <li>Chapter 4: Web Development</li>
    <li>Chapter 5: Web App Deployment</li>
    <li>Chapter 6: DevOps</li>
    <li>Chapter 7: Meta</li>
   </ul>
  </p>

  <p>
   Here is a PDF copy of the current 
   <a href="/pdf/fsp-table-of-contents.pdf">table of contents</a>
   so you can see each chapter and section contained in the book.
  </p>

 </div>
 <div class="c4">
  <img src="/img/full-stack-python-cover.jpg" alt="Picture of the Full Stack Python book cover." width="100%" style="border-radius: 5px; box-shadow: 4px 4px 3px #222; border: 1px solid #999; margin-top: 20px;">
  <p style="margin-top: 10px; font-size: 14px;">
   The PDF, EPUB and MOBI versions of the 
   <a href="https://www.fullstackpython.com/">Full Stack Python ebook</a> 
   clock in at over 400 pages.
  </p>
 </div>
</div>
<!--
<div class="row">
 <div class="c12">
  <p style="margin-bottom: 20px;">
   Still have questions? Check out the 
   <a href="/full-stack-python-faq.html">frequently asked questions (FAQ)</a>
   page for more information.
  </p>
 </div>
</div>
-->
{% endblock %}
