{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="The Full Stack Python Supporter's Edition ebook contains nicely-formatted PDF, EPUB and MOBI versions of the fullstackpython.com website.">
{% endblock %}

{% block content %}
<div class="row" style="margin-top: 20px">
 <div class="c8">
  <p>
   <a href="https://gumroad.com/l/full-stack-python">Full Stack Python Supporter's Edition</a>
   is an <a href="https://www.github.com/mattmakai/fullstackpython.com">open source</a>
   book by 
   <a href="https://github.com/mattmakai">Matthew Makai</a> 
   that is available in nicely-formatted PDF, EPUB, MOBI versions for 
   people to support the project. All of the material will always remain free
   on the <a href="https://www.fullstackpython.com/">fullstackpython.com website</a>
   but if you want to easily read it in one of these formats you can purchase
   a copy on Gumroad.

   There is also a book bundle with a
   <a href="https://gumroad.com/l/python-deployments">nicely formatted copy</a> 
   of the 
   <a href="https://www.fullstackpython.com/">Full Stack Python website</a>.
  </p>
  <p>
   <a class="btn btn-success" href="https://gumroad.com/l/python-deployments">Purchase now on Gumroad!</a>
  </p>
  <p>
   The content in Deploying Flask Web Applications is 
   newly written just for this book. It works well either by itself
   or in combination with the material available on 
   <a href="https://www.fullstackpython.com/">Full Stack Python</a>. 
  </p>
  {% include "email-for-book.html" %}
  <h3>What's in the book?</h3>
  <p>
   Throughout the book you'll take an example open source Python 
   web application through a complete deployment on a virtual 
   private server. 
   In each chapter, we will first learn how to deploy the application 
   manually, to fully understand each step, then automate the steps
   with <a href="https://docs.ansible.com/">Ansible</a>. We also set up
   a continuous integration server to automate the deployment
   process once we have our Ansible playbooks in place.
  </p>

  <h3>Chapters</h3>
  <p>
   <ul>
    <li>Chapter 1: Introduction</li>
    <li>Chapter 2: Development Environments</li>
    <li>Chapter 3: Data</li>
    <li>Chapter 4: Web Development</li>
    <li>Chapter 5: Web App Deployment</li>
    <li>Chapter 6: DevOps</li>
    <li>Chapter 7: Meta</li>
   </ul>
  </p>

  <p>
   Here is a PDF copy of the current 
   <a href="/pdf/fsp-table-of-contents.pdf">table of contents</a>
   so you can see each chapter and section contained in the book.
  </p>

 </div>
 <div class="c4">
  <img src="/img/full-stack-python-cover.jpg" alt="Picture of the Full Stack Python book cover." width="100%" style="border-radius: 5px; box-shadow: 4px 4px 3px #222; border: 1px solid #999; margin-top: 20px;">
  <p style="margin-top: 5px; font-size: 14px;">
   In the <a href="https://gumroad.com/l/WOvyt">bundled version</a> 
   you'll also receive a PDF and EPUB copies of the Full Stack 
   <a href="https://www.fullstackpython.com/">Python website</a> 
   content, which clocks in at about 400 pages, shown above.
  </p>
 </div>
</div>
<div class="row">
 <div class="c12">
  <p style="margin-bottom: 20px;">
   Still have questions? Check out the 
   <a href="/flask-deploy-faq.html">frequently asked questions (FAQ)</a>
   page for more information.
  </p>
 </div>
</div>
{% endblock %}
