{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="Deploy Python provides details on every Full Stack Python deployments book for Flask and Django.">
{% endblock %}

{% block content %}
<div class="row">
 <div class="c12">
  <h1 class="idx-h1">Step-by-Step Instructions to Deploy and Operate Python Web Apps</h1>
 </div>
</div>
<div class="row">
 <div class="c9">
  <p>
   Full Stack Python books provide detailed instructions to teach you how
   to create major software projects on your own using the 
   <a href="https://www.fullstackpython.com/django.html">Django</a>
   or
   <a href="https://www.fullstackpython.com/flask.html">Flask</a>
   web frameworks.

   The content in these books is new and different from what's found on the
   <a href="https://www.fullstackpython.com/">Full Stack Python website</a>
   and not available anywhere else.
  </p>
 </div>
</div>
<div class="row">
  <div class="c12">
    <h2>Books</h2>
  </div>
</div>
{% include "summary/flask-deploy.html" %}
{% include "summary/full-stack-python.html" %}

<div class="row" style="padding-top:16px">
  <div class="c12">
    <h2>Video Courses</h2>
  </div>
  {% include "summary/intro-ansible.html" %}
  {% include "summary/python-entrepreneurs.html" %}
</div>
{% endblock %}
