<div class="row">
 <div class="c12">
  <h3><a href="/deploying-flask-web-apps.html">Deploying Flask Web Applications</a></h3>
 </div>
 <div class="c9">
  Learn to deploy your Flask web applications to a server and automate the
  process so you can redeploy using continuous integration
  every time you commit new code.
  <div style="padding-top:20px">
  Throughout the book you'll take an example open source Python web application 
  through a complete deployment on a virtual private server. Throughout the book 
  you will first learn how to perform every part of the deployment manually
  then once the manual deployment is complete we will automate everything with
  the configuration management tool Ansible. The Ansible playbooks will then be
  ready for you to modify and use for your own projects with the full knowledge
  of how everything fits together.
  </div>
  <div style="padding-top:20px">
  <a href="/deploying-flask-web-apps.html">Learn more about the Deploying Flask Web Applications book</a>.
  </div>
 </div>
 <div class="c3">
  <img src="/img/flask-deploy-cover.png" class="shot rnd" width="100%">
 </div>
</div>
