<div class="row">
 <div class="c12">
  <h3>Deploying Flask Web Applications</h3>
 </div>
 <div class="c9">
  Learn to deploy your Flask web applications to a server and automate the
  process so you can redeploy using continuous integration
  every time you commit new code.
  <div style="padding-top:20px">  
  Throughout the book you'll take an example open source Python web application through a complete deployment on a virtual private server. In each chapter, we will first learn how to deploy the application manually, to fully understand each step, then automate the steps with Fabric and Ansible. We also set up a continuous integration server to automate the deployment process once we have our Ansible playbooks in place.
  </div>
 </div>
 <div class="c3">
  <img src="/img/flask-deploy-cover.png" class="shot rnd" width="100%">
 </div>
</div>
