<div class="row">
 <div class="c12">
  <h3><a href="/full-stack-python.html">Full Stack Python</a></h3>
 </div>
 <div class="c9">
  Full Stack Python is the ebook version of the 
  <a href="https://www.fullstackpython.com/">Full Stack Python</a> website
  that helps to support work on the 
  <a href="https://github.com/mattmakai/fullstackpython.com">open source project</a>.
  <div style="padding-top:20px">
  All of the content in this book is also available online for free on 
  <a href="https://www.fullstackpython.com/table-of-contents.html">Full Stack Python</a>. 
  However, if you want a well-formatted PDF, MOBI and EPUB version to read 
  and want to support continued work on this project you can purchase this
  solo or as part of a bundle on Gumroad.
  </div>
  <div style="padding-top:20px">
   <a href="/full-stack-python.html">Learn more about the ebook Supporter's Edition of Full Stack Python</a>.
  </div>
 </div>
 <div class="c3">
  <img src="/img/full-stack-python-cover.jpg" class="shot rnd" width="100%">
 </div>
</div>
