<div class="row">
 <div class="c12">
  <h3>Full Stack Python</h3>
 </div>
 <div class="c9">
  Full Stack Python is the nicely formatted ebook version of the 
  <a href="https://www.fullstackpython.com/">Full Stack Python</a> website
  that helps to support work on the project.
  <div style="padding-top:20px">
   <a href="/full-stack-python.html">Learn more about the ebook Supporter's Edition of Full Stack Python</a>.
  </div>
 </div>
 <div class="c3">
  <img src="/img/full-stack-python-cover.jpg" class="shot rnd" width="100%">
 </div>
</div>
