 <div class="c12">
  <h3 style="margin-top:8px"><a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python">Introduction to Ansible</a></h3>
 </div>
 <div class="c9">
  Arm yourself with the Ansible configuration management tool for 
  configuring servers and deploying applications.
  <div style="padding-top:20px">
   In this video course you will learn to write 
   your own Ansible playbooks by going deep into the Ansible core concepts 
   such as modules, tasks, roles, templates and YAML syntax and encryption.
  </div>
  <div style="padding-top:20px">
   <a href="https://training.talkpython.fm/courses/explore_ansible/introduction-to-ansible-with-python">Learn more about the Introduction to Ansible course on Talk Python Training</a>.
  </div>
 </div>
 <div class="c3">
  <img src="/img/intro-ansible-videos.jpg" class="shot rnd outl" width="100%">
 </div>
