 <div class="c12">
  <h3><a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business">Python for Entrepreneurs</a></h3>
 </div>
 <div class="c9">
  Many courses will teach you about the technology involved in building a web application. 
  Fewer courses teach you what it actually takes to launch that product as an 
  operating online business. Python for Entrepreneurs is here to teach you both how to 
  build your website and everything needed to make it a functioning online business.
  <div style="padding-top:20px">
   Learn more about the Python for Entrepreneurs course on 
   <a href="https://training.talkpython.fm/courses/explore_entrepreneurs/python-for-entrepreneurs-build-and-launch-your-online-business">Talk Python Training</a>.
  </div>
 </div>
 <div class="c3">
  <img src="/img/python-entrepreneurs.png" class="shot rnd outl" width="100%">
 </div>
