{% extends "base.html" %}

{% block meta_header %}
<meta name="description" content="The Full Stack Python Guide to Deployments is a detailed book on how to deploy Python web applications.">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3 style="color: #22b24c;">Coming soon...</h3>
        <h1 style="font-size: 2em;">The Full Stack Python Guide to Deployments</h1>
        <p>Entirely new content in an ebook format with detailed 
           step-by-step tutorials for configuring and 
           deploying Python web applications.</p>

        {% include "email-for-book.html" %}
        <br>
        <p>Here's a little preview of how we'll handle a full application deployment
           together throughout the book:</p>
        <img src="/source/theme/static/img/map.png" width="100%">
        <br>
        <p>That's all for now. Have you read the Full Stack Python
           <a href="http://www.fullstackpython.com/deployment.html">deployment page</a>? :)
    </div>
</div>
{% endblock %}
